html{
        font-family: 'Akaya Telivigala', cursive;
        font-size: larger;
        background-color: #283747;
    }
    body {
        width: 550px;
        margin: 7% auto;
        background-color: #DE354C;
        padding: 50px 50px 50px 50px;
        border: 5px solid black;
      }